<div id="sign_up">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.text_field :full_name, :autofocus => true %>


      <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>
      <%= f.text_field :username %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div>
        <%= f.password_field :current_password %></div>
      <%= f.text_field :location %>
      <div><%= f.submit "Update", :class => "bt-create" %></div>
  <% end %>
</div>




