<div id="sign_up" class="clearfix" style="display: none"></div>
<div id="sign_up_success" class="clearfix" style="display: none"></div>
<div id="user_edit" class="clearfix" style="display: none"></div>
<div id="user_wellcome" class="clearfix" style="display: none">
    <input class="bt-take" type="button" value="Take a Tour" style="width: 213px; margin-right: 8px"/> <input class="bt-take" type="button" value="Browser" style="width: 160px"/>
</div>