<div class="edit-password">
  <div class="edit-form">
    <h2 class="title-edit">Change your password</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div>

          <%= f.password_field :password ,:placeholder => 'New Password' , :class => 'mg-bottom-10 input-text', :autofocus => true %></div>

        <div>

          <%= f.password_field :password_confirmation ,:placeholder => 'Password Confirmation', :class => 'mg-bottom-10 input-text' %></div>

        <div><%= f.submit "Change my password" , :class => 'btn-format btn-pwd' %></div>
    <% end %>

  </div>


</div>
