#user_wellcome
  width: 798px
  margin: 0 auto
  text-align: right
#sign_up, #user_edit
  width: 798px
  margin: 40px auto
  background-color: #ffffff
  border-color: rgb(204,204,204)
  border-width: 1px
  border-style: solid
  margin-bottom: 15px
  form.new_user
    width: 40%
    float: left
  .or-part
    width: 20%
    float: left
    margin-top: 62px
    vertical-align: middle
    text-align: center
    .or-span
      position: absolute
      margin-left: 15px
      font-size: 18px
  #sign_up_facebook
    width: 31%
    float: left
    margin-top: 40px

  input[type="text"],input[type="email"],input[type="password"]
    background-color: rgb(255,255,255)
    width: 253px
    padding-right: 10px
    height: 49px
    border-color: rgb(221,221,221)
    border-width: 1px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    border-radius: 4px
    border-style: solid
    font-size: 22px
    padding-left: 40px
  .bt-create
    background-image: -moz-linear-gradient(30% 162% -90deg,rgb(61,169,255) 0%,rgb(7,137,225) 100%)
    background-image: - webkit-gradient(linear,30% 162%,30% 262%,color-stop(0, rgb(61,169,255)),color-stop(1, rgb(7,137,225)))
    background-image: -webkit-linear-gradient(-90deg,rgb(61,169,255) 0%,rgb(7,137,225) 100%)
    background-image: -o-linear-gradient(-90deg,rgb(61,169,255) 0%,rgb(7,137,225) 100%)
    background-image: -ms-linear-gradient(-90deg,rgb(61,169,255) 0%,rgb(7,137,225) 100%)
    background-image: linear-gradient(-90deg,rgb(61,169,255) 0%,rgb(7,137,225) 100%)
    width: 304px
    height: 49px
    border-color: rgba(0,26,102,0.1)
    border-width: 1px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    border-radius: 4px
    border-style: solid
    -moz-box-shadow: 0px 1px 1px rgba(0,26,102,0.68) ,inset 0px 1px 1px rgba(255,255,255,0.37)
    -webkit-box-shadow: 0px 1px 1px rgba(0,26,102,0.68) ,inset 0px 1px 1px rgba(255,255,255,0.37)
    box-shadow: 0px 1px 1px rgba(0,26,102,0.68) ,inset 0px 1px 1px rgba(255,255,255,0.37)
    font-size: 22px
    color: #ffffff
    text-align: center

  .bt-sign-up-fb
    background-image: -moz-linear-gradient(34% 162% -90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
    background-image: -webkit-gradient(linear,34% 162%,34% 262%,color-stop(0, rgb(77,104,164)),color-stop(1, rgb(57,87,154)))
    background-image: -webkit-linear-gradient(-90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
    background-image: -o-linear-gradient(-90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
    background-image: -ms-linear-gradient(-90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
    background-image: linear-gradient(-90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
    width: 245px
    height: 49px
    border-color: rgba(0,26,102,0.1)
    border-width: 1px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    border-radius: 4px
    border-style: solid
    -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.37)
    -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.37)
    box-shadow: inset 0px 1px 1px rgba(255,255,255,0.37)
    display: block
    text-decoration: none
    span
      line-height: 49px
      color: #ffffff
  .title
    width: 100%
    height: 80px
    line-height: 80px
    background-color: rgb(232,228,222)
    border-color: rgb(204,204,204)
    border-style: solid
    border-bottom-width: 1px
    border-left-width: 0
    border-top-width: 0
    border-right-width: 0
    .title-signup
      text-align: center
      font-family: Proxima Nova Rg
      font-size: 28px
      font-weight: 200
#sign_up_success
  width: 798px
  margin: 0 auto
  background-color: #ffffff
  border-color: rgb(204,204,204)
  border-width: 1px
  border-style: solid
  margin-top: 50px
  height: 560px
  margin-bottom: 50px
  .pre-button
    background-image: url('/assets/pre.png')
    background-repeat: none
    width: 46px
    height: 72px
    background-repeat: no-repeat
    background-position-x: 20px

  .bg-email
    background-position: center 25px
    background-image: url('/assets/bg_email.png')
    background-repeat: no-repeat

    padding-top: 80px
    p
      text-align: center
      font-size: 22px
      line-height: 48px
#user_edit
  form#edit_user
    width: 50%
    float: left
  #box_avatar
    width: 50%
    float: right
    .avatar
      margin-top: 50px
      border-left-width: 1px
      border-top-width: 0px
      border-right-width: 0px
      border-bottom-width: 0px
      border-style: solid
      border-left-color: rgb(221,221,221)
      text-align: center
#avatar_image
  width: 153px
  height: 42px
  opacity: 0
  position: absolute
  left: 74px

.errormessage
  line-height: 23px
.i-user
  background-image: url("/assets/icons.png")
  background-position: 0 0
  width: 27px
  height: 27px
  display: block
  position: absolute
  margin-top: 13px
  margin-left: 10px
.i-email
  background-image: url("/assets/icons.png")
  background-position: -27px 0
  width: 27px
  height: 27px
  display: block
  position: absolute
  margin-top: 13px
  margin-left: 10px
.i-username
  background-image: url("/assets/icons.png")
  background-position: -77px 0
  width: 27px
  height: 27px
  display: block
  position: absolute
  margin-top: 13px
  margin-left: 10px

.i-password
  background-image: url("/assets/icons.png")
  background-position: -99px 0
  width: 27px
  height: 27px
  display: block
  position: absolute
  margin-top: 13px
  margin-left: 10px

.i-suburb
  background-image: url("/assets/icons.png")
  background-position: -54px 0
  width: 27px
  height: 27px
  display: block
  position: absolute
  margin-top: 13px
  margin-left: 10px

.bt-take
  background-color: rgb(255,255,255)
  border-color: rgb(221,221,221)
  border-width: 1px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  border-radius: 4px
  border-style: solid
  font-family: Gotham Rounded Book
  font-size: 26px
  padding-top: 10px
  padding-bottom: 2px
  color: rgb(82,82,82)




