.login-page

  .input-login
    background-color: rgb(255,255,255)
    width: 198px
    height: 42px
    padding: 0 10px
    border-color: rgb(221,221,221)
    border-width: 1px
    -moz-border-radius: 2px
    -webkit-border-radius: 2px
    border-radius: 2px
    border-style: solid
    margin-bottom: 8px
    &:focus
      background-color: rgb(255,255,255)
      border-color: rgb(0,140,233)
      -moz-box-shadow: 0px 0px 1px rgb(72,174,255)
      -webkit-box-shadow: 0px 0px 1px rgb(72,174,255)
      box-shadow: 0px 0px 1px rgb(72,174,255)


  form#login-form
    fieldset
      border: none
      .form-actions
        padding: 5px 0 10px 0
        border-bottom: 1px solid rgba(0,26,102,0.1)
        .label-option
          text-align: left
          line-height: 15px
          margin-bottom: 10px
          .label-forgot-pass
            cursor: pointer
            display: inline-block
            margin-left: 10px
          .keep-me-login
            display: inline-block
            margin-right: 10px
            float: right

            .remember-me
              height: 15px
              width: 15px
        .btn-login
          display: inline-block
          cursor: pointer
          width: 97px
          height: 40px
        .or-label
          width: 15px
          height: 10px
          text-align: center
        .btn-sign-up
          background-color: rgb(255,177,0)
          width: 97px
          height: 39px
          -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3)
          -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3)
          box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3)
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #4d000000,Positive = true)"
          filter: progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = 1,Color = #4d000000,Positive = true)
        .text-center
          text-decoration: none
          line-height: 39px
  .great-message
    background-color: rgb(246,246,246)
    height: 90px
    padding-top: 30px
    border: 1px solid rgb(221,221,221)
    border-right: none
    border-left: none
    p
      padding: 2px
      text-align: center

  .forgot-password
    background-color: rgb(246,246,246)

    .reset-password-form
      padding-bottom: 15px
      margin-bottom: 10px
      border-bottom: 1px solid rgba(0,26,102,0.1)
      .title-reset-password
        padding: 5px 0
        .control-label
          display: inline-block
          text-align: center
        .close-form
          display: inline-block
          margin-right: 10px
          text-align: right
          float: right
      .btn-reset
        width: 219px
        height: 38px
  .login-w-fb
    padding: 13px 0
    .bt-login-fb
      background-image: -moz-linear-gradient(34% 162% -90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
      background-image: -webkit-gradient(linear,34% 162%,34% 262%,color-stop(0, rgb(77,104,164)),color-stop(1, rgb(57,87,154)))
      background-image: -webkit-linear-gradient(-90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
      background-image: -o-linear-gradient(-90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
      background-image: -ms-linear-gradient(-90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
      background-image: linear-gradient(-90deg,rgb(77,104,164) 0%,rgb(57,87,154) 100%)
      width: 217px
      height: 42px
      margin-left: 8px
      border-color: rgba(0,26,102,0.1)
      border-width: 1px
      -moz-border-radius: 2px
      -webkit-border-radius: 2px
      border-radius: 2px
      border-style: solid
      -moz-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.37)
      -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,0.37)
      box-shadow: inset 0px 1px 1px rgba(255,255,255,0.37)
      display: block
      text-decoration: none
      text-align: left
      span
        color: #ffffff
        line-height: 40px
      .fb-img
        padding-right: 20px
        padding-left: 8px
        img
          width: 27px
          height: 27px

//reset password page
.edit-password
  width: 100%
  text-align: center
  .edit-form
    width: 400px
    margin-left: 38%
    margin-top: 50px
    border: 1px solid #666
    background-color: white
    .title-edit
      height: 50px
      line-height: 50px
      margin-bottom:  10px
      background-color: rgb(246,246,246)
    .label
      display: inline-block
      height: 30px
      line-height: 30px
      margin: 0 5px 10px
      text-align: right
      vertical-align: middle
      width: 150px
    .input-text
      border-radius: 0
      width: 220px
      height: 35px
      padding-left: 10px
      border: 1px solid rgba(0,26,102,0.1)
      &:focus, &:active
        background-color: rgb(255,255,255)
        border-color: rgb(0,140,233)
        -moz-box-shadow: 0px 0px 1px rgb(72,174,255)
        -webkit-box-shadow: 0px 0px 1px rgb(72,174,255)
        box-shadow: 0px 0px 1px rgb(72,174,255)


    .btn-pwd
      height: 37px
      width: 232px
      margin-bottom: 20px

.qtip-menu
  .options
    .option
      width: 175px
      height: 43px
      line-height: 43px
    .opt-label
      text-decoration: none
      font-family: "Proxima Nova Rg"
      font-size: 16px
      line-height: 41px
      text-align: left
      padding-left: 20px
      display: block
      border: 1px solid #f6f6f6
      &:hover
        border: 1px solid white
      i
        margin-right: 10px
    .border-opt
      border-bottom: 1px solid rgb(221,221,221)

