body
  background-color: rgb(232,228,222)
  border-color: rgb(204,204,204)
  border-width: 1px
  border-style: solid

#header
  background-color: rgb(255,255,255)
  height: 79px
  border-color: rgb(201,197,192)
  border-width: 1px
  -moz-border-radius: 1px
  -webkit-border-radius: 1px
  border-radius: 1px
  border-style: solid
  .navbar-inner:before,
  .navbar-inner:after
    display: table
    line-height: 0
    content: ""

  .navbar-inner:after
    clear: both

  .navbar .container
    width: 1099px
    margin: 0 auto
    .navbar .nav
      position: relative
      left: 0
      display: block
      float: left
      margin: 0 10px 0 0


  .navbar .nav.pull-right
    float: right
    margin-right: 0


  .navbar .nav
    li
      float: left
      height: 79px
      width: 15%
    .active
      width: 18%
      .logo-img
        line-height: 80px
        img
          margin-top: 2px
    .user-login
      width: 22%

  .navbar .nav > li > a
    font-size: 26px
    line-height: 120%
    color: rgb(82,82,82)
    text-align: center
    float: none
    text-decoration: none
    padding: 0px 15px
    text-decoration: none
    height: 79px
    display: block
    vertical-align: middle
    line-height: 79px
    font-weight: 200
    font-family: Gotham Rounded Book
  li.user-login
    line-height: 42px
    margin-top: 18px
    i
      display: inline
      text-align: center
    a.label-user-login
      display: inline-block
      cursor: pointer
      padding: 0 0 0 5px
      font-family: "Gotham Rounded Book"
      font-size: 20px
      color: rgb(82,82,82)
      height: 35px
      line-height: 35px
      text-align: left
    .login-label
      display: inline-block
      background-color: rgb(246,246,246)
      padding: 0 18px 0 19px
      border: 1px solid rgba(0,26,102,0.1)
      margin-top: 4px
      cursor: pointer
      .icon-angle-down
        line-height: 10px
        font-size: 20px
    .logged-in
      display: inline-block
      width: 200px
      background-color: rgb(246,246,246)
      .user-logged
        .nav-li
          display: inline-block
          width: 49px
          height: 42px
          line-height: 42px
          border: 1px solid rgba(0,26,102,0.1)
          border-right: none
          text-align: center
          .notice
            position: absolute
            width: auto
            height: 16px
            background-color: red
            top: 16px
            padding: 0 6px
            margin-left: -14px
            font-size: 12px
            line-height: 18px
            text-align: left
            border-radius: 11px
            color: white
            font-family: "Proxima Nova Lt"
            font-weight: bold
        .avatar
          border: 1px solid rgba(0,26,102,0.1)
          text-align: center
          display: inline-block
          width: 48px
          height: 42px
          line-height: 40px
          img
            height: 40px
            width: 46px
