@import "../base/mixin"
.qtip-custom
  border: transparent !important
  background-color: transparent !important
  &.qtip-pos-bl
    .qtip-tip
      border-bottom: 6px solid transparent !important
      border-top: 6px solid rgb(0, 0, 0) !important
      bottom: -12px !important
      margin-left: -1px !important
    .qtip-content
      left: -6px !important

  &.qtip-pos-bc
    .qtip-tip
      border-bottom: 6px solid transparent !important
      border-top: 6px solid rgb(0, 0, 0) !important
      bottom: -12px !important
  &.qtip-pos-tl
    .qtip-tip
      left: 0px !important
    .qtip-content
      left: -12px !important
  &.qtip-pos-tr
    .qtip-tip
      right: 0px !important
  &.qtip-login
    .qtip-content
      left: -4px
    .qtip-tip:before
      border-color: rgb(246,246,246) transparent
    .qtip-content
      background-color: rgb(246,246,246)
      width: 235px
      border-color: rgb(221,221,221)
      border-width: 1px
      -moz-border-radius: 4px
      -webkit-border-radius: 4px
      border-radius: 4px
      border-style: solid
      font-family: "Proxima Nova Rg"
      font-size: 16px
      line-height: 120%
      color: rgb(82,82,82)
      text-align: center
    .qtip-tip
      left: 215px
  &.qtip-menu
    .qtip-tip:before
      border-color: rgb(246,246,246) transparent
    .qtip-tip
      right: 20px !important
    .qtip-content
      top: 2px
      left: -5px
      padding: 0
      background-color: rgb(246,246,246)

  .qtip-tip
    width: 0px !important
    height: 0px !important
    border-left: 9px solid transparent !important
    border-right: 9px solid transparent !important
    border-bottom: 10px solid rgba(0, 0, 0, 0.25) !important
    margin-left: -10px !important
    overflow: visible !important
    &:before
      content: ""
      position: absolute
      left: -8px
      top: 2px
      border-width: 0 8px 8px
      border-style: solid
      border-color: white transparent
      display: block
      width: 0
    canvas
      display: none
  .qtip-content.up-image
    padding-top: 8px
    padding-bottom: 0px
  .qtip-content
    padding: 8px 0px 0px
    @include border-radius(6px)
    color: black
    border: 1px solid rgba(0, 0, 0, 0.2)
    background: white
    display: inline-block


.qtip-default
  &.qtip-email, &.qtip-password
    .qtip-content
      background-color: rgb(234,0,40)
      color: white
      p
        color: white
        font-family: "Proxima Nova Rg"
        font-size: 13px
        line-height: 120%

    .qtip-tip
      &:before
        border-color: rgb(234,0,40) transparent
  &.qtip-suburb
    width: 303px
    .qtip-content
      background-color: rgb(246,246,246)
      .suburbs
        width: 303px
        .option
          height: 25px
          line-height: 25px
          list-style: none outside none
          text-align: left
          p
            padding: 0 20px
          &.opt-hover
            &:hover, &:focus , &:active
              background-color: rgb(255,177,0)
              color: white
              border: 1px solid rgba(0,26,102,0.1)
              border-left: none
              border-right: none
    .qtip-tip
      &:before
        border-color: rgb(246,246,246) transparent