.pointer
  cursor: pointer
.green
  color: #00c000
.mg-bottom-10
  margin-bottom: 10px

.btn-format
  display: inline-block
  background-color: rgb(0,136,233)
  border-color: rgba(0,26,102,0.1)
  border-width: 1px
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  border-style: solid
  -moz-box-shadow: 0px 1px 1px rgba(0,26,102,0.68) ,inset 0px 1px 1px rgba(255,255,255,0.37)
  -webkit-box-shadow: 0px 1px 1px rgba(0,26,102,0.68) ,inset 0px 1px 1px rgba(255,255,255,0.37)
  box-shadow: 0px 1px 1px rgba(0,26,102,0.68) ,inset 0px 1px 1px rgba(255,255,255,0.37)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3da9ff,endColorstr=#ff0789e1,GradientType=0)progid: DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ad001a66,Positive=true)"
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff3da9ff,endColorstr=#ff0789e1,GradientType=0) progid: DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ad001a66,Positive=true)"

.disp-inl
  display: inline-block

.font-input, .font-text
  font-family: "Proxima Nova Rg"
  font-size: 13px
  line-height: 100%
  color: rgb(82,82,82)
  text-align: left
  
.font-button
  font-family: "Proxima Nova Lt"
  font-size: 18px
  font-weight: 600
  letter-spacing: 0pt
  line-height: 120%
  color: rgb(255,255,255)
  text-align: center
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = -1,Color = #4d000000,Positive = true)"
  zoom: 1
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX = 0,OffY = -1, Color = #4d000000, Positive = true)


.fsize-16
  font-size: 16px
.font-20
  font-size: 20px
//color
.black
  color: rgb(85,85,85)
//  background
.bg-yellow
  &:hover, &:focus , &:active
    background-color: rgb(255,177,0)
    color: white
    a
      color: white

  //margin
.mg-r-10
  margin-right: 10px
.mg-top-10
  margin-top: 10px
.mg-top-4
  margin-top: 4px




.btn
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6))
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6)
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6)
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6)
  background-repeat: repeat-x
  border: 1px solid #cccccc
  *border: 0
  border-color: #e6e6e6 #e6e6e6 #bfbfbf
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  border-bottom-color: #b3b3b3
  -webkit-border-radius: 2px
    -moz-border-radius: 2px
      border-radius: 2px
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
  *zoom: 1
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)

.btn-warming
  color: #ffffff
  background-color: #faa732
  *background-color: #f89406
  background-image: -moz-linear-gradient(top, #fbb450, #f89406)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406))
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406)
  background-image: -o-linear-gradient(top, #fbb450, #f89406)
  background-image: linear-gradient(to bottom, #fbb450, #f89406)
  background-repeat: repeat-x
  border-color: #f89406 #f89406 #ad6704
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
