<!DOCTYPE html>
<html>
<head>
  <title>Localic</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" ,media: "all"  %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
    <% if signed_in? -%>
        Localic.currentUser = new Localic.Models.User(<%= current_user.to_json(include: {avatar: {only: :_id}, suburb: {only: [:_id, :name ]}}).html_safe %>);
    <% else -%>
        Localic.currentUser = null;
    <% end -%>
    $(document).ready(function() {
        user = Localic.currentUser
        var header = new Localic.Views.Header({model: user})
        header.render()
    });
</script>

<div id="header">
  <%= render :partial => "shared/header" %>
</div>
<div class="body-container">
  <%= yield %>
</div>

</body>
</html>
